<main class="container">
	<h1>Hello, este es mi primer proyecto en Angular</h1>
	<h2>{{ welcomeMessage }}</h2>
	<!-- <h3>Con sintaxis antigua</h3> -->
	<ul>
		<li *ngFor="let task of tasks">
			{{ task }}
		</li>
	</ul>
	<!-- <h3>Con la nueva sintaxis</h3> -->
	<!-- <ul>
		@for (task of tasks; track task) {
			<li>{{ task }}</li>
			} @empty {
				<li>Aún no hay tareas!</li>
				}
			</ul> -->

	<hr />
	<h1>Expresiones y property binding</h1>
	<p>La suma de 1 + 1 es: {{ 1 + 1 }}</p>
	<p>Mi nombre es {{ person.name }}, tengo {{ person.age }} años</p>
	<img [src]="person.avatar" alt="Imagen" />

	<hr />
	<h1>Eventos</h1>
	<button (click)="clickHandler()">Click me!</button>
	<button (dblclick)="dblClickHandler()">Doble click me!</button>
	<p>Edad (Change event): {{ person.age }}</p>
	<input
		type="number"
		[value]="person.age"
		(change)="handleAgeChange($event)"
	/>
	<p>Nombre (Input event): {{ person.name }}</p>
	<input type="text" [value]="person.name" (input)="handleNameChange($event)" />
	<hr />
	<h1>Signals</h1>
	<p>Signal variable: {{ signalName() }}</p>
	<input
		type="text"
		[value]="signalName()"
		(input)="handleSignalChange($event)"
	/>
	<p *ngIf="signalName() === 'Ramiro'; else bloqueOtro">Hola Ramiro!</p>
	<ng-template #bloqueOtro>
		<p>Escribe otro nombre</p>
	</ng-template>
	<hr />
	<h1>Switch</h1>
	<div [ngSwitch]="signalName()">
		<p *ngSwitchCase="'ana'">Yo soy ana</p>
		<p *ngSwitchCase="'José'">Yo soy José</p>
		<p *ngSwitchCase="'Carlos'">Yo soy Carlos</p>
		<p *ngSwitchDefault>
			No hay nombre compatible. Escribe en el input signal (ana, José, Carlos)
		</p>
	</div>
	<hr />
	<h1>Forms</h1>
	<input type="color" [formControl]="colorControl" />
	<p>Color: {{ colorControl.value }}</p>
	<svg>
		<g>
			<rect
				x="0"
				y="0"
				height="100"
				width="100"
				[attr.fill]="colorControl.value"
			/>
		</g>
	</svg>
	<hr />
	<input
		type="range"
		min="0"
		max="400"
		[style.marginBottom.px]="10"
		[formControl]="widthControl"
	/>
	<span
		class="box"
		[style.width.px]="widthControl.value"
		[style.borderRadius.px]="10"
	>
	</span>
	<hr />
	<p>
		<input type="text" [formControl]="nameControl" />
		<br />
		<span
			class="message-error"
			[class.show]="nameControl.invalid && nameControl.touched"
			>Nombre inválido</span
		>
	</p>
	<input type="text" />
</main>
